<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% bookings.forEach(function(item, index) { %>
      <p>Booked from: <%= item.bookFrom %></p>
      <p>Booked till: <%= item.bookTill %></p>
    <%    }); %>
  </body>
</html>
