<!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4"><%= listing.name %><small> £<%= listing.price %> per night</small></h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Description</h3>
                <p><%= listing.description %></p>
                <h3 class="my-3">Availability</h3>
                    <p>From: <%= listing.listFrom %></p>
                    <p>Till: <%= listing.listTill %></p>
                <% var url = "/listings/" + listing.id + "/booking"%>
                <a href=<%= url %> class="button">Book</a>
            </div>

        </div>

    </div>
    <!-- /.container -->
