<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <p><%= listing.name %></p>
      <p><%= listing.description %></p>
      <% var url = "/listings/" + listing.id + "/booking"%>
      <a href=<%= url %> class="button">Book</a>
  </body>
</html>
